$color_white:#ffffff;
$color_grey-lightest:#f5f7fa;
$color_grey-lighter:#cfdae6;
$color_grey-light:#bfccd9;
$color_grey-dark:#adbdcc;
$color_grey-darker:#8595a6;
$color_grey-darkest:#475259;
$color_black:#1e2225;
$color_blue-ligher:#cfe6f8;
$color_blue-light:#72b3ed;
$color_blue:#2b84e0;
$color_blue-dark:#184771;
$color_blue-darker:#1d2a4a;
